{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--TRAINERS-->
    <a href="{% url 'trainer-add' %}" class="add-btn">Add New Trainer</a>
    <section class="trainers-container">
        <table class="styled-table">
            <tbody>
            <tr>
                <th>Trainer Name</th>
                <th>Birthdate</th>
                <th>Location</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
                {% for object in trainer %}
                    <tr>
                        <td>{{ object.name }}</td>
                        <td>{{ object.birthdate }}</td>
                        <td>{{ object.location }}</td>
                        <td>{{ object.email }}</td>
                        <td>
                            <a href="trainer_list/{{ object.id }}" class="edit-del-btn">Edit</a>
                            <a href="trainer_list/{{ object.id }}/delete" class="edit-del-btn">Delete</a>
                        </td>
                    </tr>
                {% empty %}
                {% endfor %}
            </tbody>
        </table>
    </section>
    <div>
        {% include 'includes/pagination.html' %}
    </div>
{% endblock %}